<h1>Create a pact </h1>

<blockquote>
  I, <span contenteditable="true" placeholder="[your first name]" data-update="#pact_name"></span>,
  will <span contenteditable="true" placeholder="[what are you going to do?]" data-update="#pact_action"></span>
  and I need at least <span contenteditable="true" placeholder="[how many?]" data-update="#pact_people_requirement"></span> more people to join me.
</blockquote>

<%= form_for @pact_form, as: :pact, url: pacts_path do |f|%>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :action %>
  <%= f.hidden_field :people_requirement %>
  <%= f.label :email, 'Your email' %>
  <%= f.email_field :email %>
  <%= f.submit "Create a pact", class: 'btn btn-primary'%>
<% end %>
